* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: arial black;
    color: black;
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

h1,
h2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: blue
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

article {
    background-color: aqua;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: aqua;
    color: black;
}

.hero article img {
    float: right;
    width: 125px;
    border: 300px;
    box-shadow: 1080px;

}